* {
    margin: 0;
    padding: 0;
}

.box {
    width: 200px;
    height: 40px;
    text-align: center;
}
.slt{
    width: 100px;
    height: 30px;
}
#amount{
    width: 150px;
    height: 30px;
}
#btn{
    width: 120px;
    height: 30px;
    background-color: mediumpurple;
    color: white;
    font-size: 20px;
}
.rs{
    color: darkblue;
    font-size: 20px;
}
#rs{
    text-align: left;
}


